/* CSS reset */
* {
  margin:0;
  padding:0;
}

body {
  font: 16px Arial, sans-serif;
  background-color:#ddd;;
}

div#header {
  text-align:center;
  padding-bottom:4px;
}

.hidden {
  display:none;
}

div#header p {
  padding:4px 8px;
}

.vulnerable {
  background-color:#ED5555;
  color:#eee;
}

.notVulnerable {
  background-color:#6CED55;
  color:#333;
}

.unknown {
  background-color:white;
  color: black;
}

.error {
  background-color:yellow;
  color: black;
}

div#settings {
  padding:8px;
}

div#settings h1 {
  text-align:center;
  font-size:11px;
  margin-bottom:8px;
}

div#settings label {
  font: 13px Arial,sans-serif;
}
